{% extends 'HaydenPiercePersonalizerBundle:Default:header.html.twig' %}

{% block body %}
		<main>
			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>


			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>

			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="images/cover225x225.jpeg"/>
				</div>

				<button>Download</button>
				<button>Wishlist</button>
				<button>Info</button>
			</div>
		</main>
{% endblock %}