<html>
	<head>
		<link rel="stylesheet" href="styles/styles.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<a href="index.php"><li><span>Home</span></li></a>
					<a href="browse.php"><li><span>Browse</span></li></a>
					<a href="#"><li class="user"><span>Log In</span></li></a>
				</ul>
			</nav>
		</header>	
	</body>
</html>