{% extends 'HaydenPiercePersonalizerBundle:Default:header.html.twig' %}

{% block body %}
		<main>
		{% for eBook in eBooks %}
			<div class="ebook">
				<div class="cover_container">
					<img class="cover_img" src="{{ eBook.coverImageUrl }}"/>
				</div>

				<a class="btn btn-default full_length" href="#">Download</a>
				<a class="btn btn-default" href="#">Wishlist</a>
				<a class="btn btn-default" href="/ebook/{{ eBook.id }}">Info</a>
			</div>
		{% endfor %}
		</main>
{% endblock %}